$primary-color: #1b0dd6;
$secondary-color: #3f5efb;
$white-color: #fff;
$hover-color: #3f5efb;
$search-border-color: #fff;
$transition-duration: 0.3s;
$border-radius: 5px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: $white-color;
}


.App {
  .navbar {
    background-color: #181818;
    z-index: 999;
    margin-top: 79px;
    padding: 20px 0;
    border: 1px solid #171717;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: right;
    transform: translateX(-60%);

    &:hover{
      padding: 20px;
      transform: translateX(0);
      nav{
        width: 100%;
        a{
          &.active {
            color: $white-color;
            font-size: 20.2px;
            transform: translateX(5px);
            i {
              color: $hover-color;
            }
          }
          span{
            display: block;
          }
        }
      }

    }
    nav {
      width: 39%;
      display: flex;
      align-items: start;
      flex-direction: column;
      text-align: left;
      overflow: hidden;
      a {
        &:active{
          text-decoration: none !important;
          outline: none !important;
        }
        &:hover{
          text-decoration: none !important;
          outline: none !important;
        }
        & {
          text-decoration: none !important;
          outline: none !important;
        }
        font-size: 20px;
        color: #b0b0b0;
        padding: 10px;
        display: flex;
        align-items: center;
        text-decoration: none;
        text-align: left;
        i {
          color: $primary-color;
          margin-right: 10px;
          color: #b0b0b0;
        }
        &.active {
          color: $white-color;
          font-size: 20.2px;
          i {
            color: $hover-color;
          }
        }
      }
    }
  }

  .logo {
    width: 200px;
    left: 0;
    transform: translateX(0px);
    color: $white-color;
    font-size: 30px;
    font-weight: 800;
    line-height: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: transform $transition-duration ease-in-out;

    span {
      height: 100%;
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }

      svg {
        font-size: 60px;
        height: 100%;

        path {
          color: $secondary-color;
        }
      }
    }
  }

  .css-1pht7va-MuiInputBase-root-MuiFilledInput-root::before {
    border-color: $white-color !important;
  }

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 40%;
    transition: all $transition-duration ease-in-out;

    input {
      width: 100%;
      padding: 10px;
      background: transparent;
      border: 1px solid $search-border-color;
      border-radius: $border-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      outline: none;
      color: $white-color;
      font-size: 16px;
      height: 100%; /* Устанавливаем одинаковую высоту для input */
      transition: all $transition-duration ease-in-out;

      &:focus {
        border-color: $hover-color;
        box-shadow: 0 0 5px $hover-color;
      }

      &::placeholder {
        color: $white-color;
        transition: color $transition-duration ease-in-out;
      }
    }

    button {
      padding: 0 15px;
      height: 100%; /* Устанавливаем одинаковую высоту для кнопки */
      border: 1px solid $search-border-color;
      border-radius: $border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: $primary-color;
      color: $white-color;
      cursor: pointer;
      background-color: $secondary-color;

      &:hover {
        transition: background-color $transition-duration ease-in-out, transform $transition-duration ease-in-out;
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .main-content-video{
    display: flex;
    flex-direction: column;
    iframe{
      width: 100% !important;
    }
  }
  .navbar {
    transform: none !important;
    position: fixed;
    margin-top: 0 !important;
    bottom: 0px;
    width: 100% !important; /* Убедитесь, что ширина 100% */
    padding: 2px !important;
    border-top: 1px solid #171717 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    height: 60px !important;
<<<<<<< HEAD
    display: flex !important;
    align-items: center;
    transform: none; /* Убираем translateX, чтобы navbar заняла всю ширину экрана */
=======
    transform: translateX(0) !important;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
>>>>>>> 3d82547 (Ваше сообщение коммита)
    nav {
      display: flex;
      padding: 5px;
      align-items: center !important;
      flex-direction: row !important;
      justify-content: space-evenly;
      width: 100% !important;
      a {
        font-size: 20px;
        color: #b0b0b0;
        padding: 10px;
        display: flex;
        align-items: center;
        text-decoration: none;
        flex-direction: column;
        text-align: left;
        i {
          color: #b0b0b0;
          margin-right: 10px;
        }
        &.active {
          color: $white-color;
          font-size: 20px !important;
          transform: translateX(0) !important;
          i {
            color: $hover-color;
          }
        }
      }
    }
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .none {
    display: none;
  }

  .logo.active {
    transform: translateX(-1000px);
  }

  .search {
    width: 0 !important;
    padding: 0 !important;
    border: none;
    opacity: 0;
    transition: opacity $transition-duration ease-in-out, width $transition-duration ease-in-out;
  
    &.active {
      width: 100%;
      padding: 5px 15px;
      border: 1px solid $search-border-color;
      opacity: 1;
      transition: opacity $transition-duration ease-in-out, width $transition-duration ease-in-out;
    }
  }
  
  .search-container {
    justify-content: space-between !important;
  }

  .yaxshi.active {
    position: relative;
    .logo {
      width: 0;
    }
    .search-container {
      display: flex;
      width: 100%;
      margin-left: 0;
      input {
        width: 100% !important;
        padding: 5px !important;
        height: 100%;
      }
    }
  }

  .searchl i {
    padding: 5px;
    position: relative;
    cursor: pointer;
    transform: rotate(360deg);
    background-color: $secondary-color;
  }

  .search-container {
    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }
}



@media (min-width: 601px) {
  /* Добавляем условие для широкого экрана, чтобы логотип снова появился */
  .yaxshi.active {
    .logo {
      width: 200px; /* Восстанавливаем ширину логотипа при возвращении на широкий экран */
      transform: translateX(0px); /* Если логотип был скрыт, то убираем трансформацию */
    }
  }
}

.routes{
  width: 92%;
  margin: 0 auto;
  margin-top: 100px;
}
.main-content-video{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  h2{
    width: 560px;
    overflow: hidden !important;
  }
  p{
    width: 560px;
  }
}