
.logo{
  width: 200px;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  line-height: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo span{
  height: 100%;
  color:#1b0dd6;
}
.logo span svg{
  font-size: 60px;
  height: 100%;
}
.logo span svg path{
  color: #3f5efb;
}
.css-1pht7va-MuiInputBase-root-MuiFilledInput-root::before{
  border-color: #fff !important;
}
.search{
  width: 40%;
  padding: 15px 15px; 
  border-radius: 10px;
  background: transparent;
  border: none;
  color:#fff;
  border: 1px solid #ffff;
  height: 40px;
  outline: none;
  /* outline-color: #3f5efb; */
}
.search:focus{
  border: 1px solid #3f5efb;
}
.search::placeholder{
  color: #fff;
}